<div class="content" ng-controller="mainCtrl">
  <div class="kpiTooltip" ng-show="showModal">
    <div class="kpiTooltip-content">
      <p>KPI's to know more about Stats</p>
    </div>
  </div>

  <div class="overviewFiltersWrapper">
    <div class="filterContainer" ng-style="{'height': filterContainerHeight}">
      <div class="filterWrapper" id="filter1">
        <p class="filterTitle">Analysis Period:</p>
        <div class="filter">
          <i class="fa-solid fa-filter"></i>
        </div>
      </div>
      <div class="filterWrapper" id="filter2">
        <p class="filterTitle">Platform</p>
        <div class="filter">
          <i class="fa-solid fa-filter"></i>
        </div>
      </div>
      <div class="filterWrapper" id="filter3">
        <p class="filterTitle">Device Model</p>
        <div class="filter">
          <i class="fa-solid fa-filter"></i>
        </div>
      </div>
      <div class="filterWrapper" id="filter4">
        <p class="filterTitle">Country</p>
        <div class="filter">
          <i class="fa-solid fa-filter"></i>
        </div>
      </div>
      <div class="filterWrapper" id="filter5">
        <p class="filterTitle">Year</p>
        <div class="filter"><i class="fa-solid fa-filter"></i></div>
      </div>
      <div class="filterWrapper" id="filter6">
        <p class="filterTitle">Month</p>
        <div class="filter"><i class="fa-solid fa-filter"></i></div>
      </div>
      <div class="filterWrapper" id="filter7">
        <p class="filterTitle">Week</p>
        <div class="filter"><i class="fa-solid fa-filter"></i></div>
      </div>
    </div>

    <button
      class="filterBtn"
      ng-click="expandFilters()"
      ng-hide="showLessFilters"
    >
      More Filters
      <i class="fa-solid fa-caret-down"></i>
    </button>
    <button
      class="filterBtn"
      ng-click="collapseFilters()"
      ng-hide="showMoreFilters"
    >
      Less Filters
      <i class="fa-solid fa-caret-up"></i>
    </button>
  </div>
  <hr />

<div class="content">
    <div class="chartWrapper reportschart1" style="background-color: #232323">
      <div class="chartHeader">Current Users</div>
      <div class="chartBody">
        <div id="chart1" class="chart"></div>
      </div>
    </div>
  
  </div>
  