<div id="analysisFilterBar" class="filterBar">
  <div id="analysisFilterSection" class="filterSection">
    <div id="analysisRadioInputs" class="emptyradioInput">
      <div id="radioSelect1" class="emptyradioInput">
        <!-- <input id="analysisYear2023" type="radio" name="analysisYear" /> -->
        <div id="analysisYear2023"></div>
        <!-- <label for="analysisYear2023">2023</label> -->
      </div>
      <div id="radioSelect2" class="emptyradioInput">
        <!-- <input id="analysisYear2022" type="radio" name="analysisYear" checked="true"/> -->
        <div id="analysisYear2022"></div>
        <!-- <label for="analysisYear2022">2022</label> -->
      </div>
    </div>
    <div id="analysisFilterContainer" class="emptyfilterDropdown">
      <div id="analysisFilter1" class="emptyselectFilter">
        <!-- Country&nbsp;<i class="fa-solid fa-angle-down"></i> -->
      </div>
      <div id="analysisFilter2" class="emptyselectFilter">
        <!-- Categories&nbsp;<i class="fa-solid fa-angle-down"></i> -->
      </div>
    </div>
    <!-- <div id="analysisRadioInputs" class="radioInput">
      <div id="radioSelect1" class="radioInput">
        <input id="analysisYear2023" type="radio" name="analysisYear" /><label
          for="analysisYear2023"
          >2023</label
        >
      </div>
      <div id="radioSelect2" class="radioInput">
        <input
          id="analysisYear2022"
          type="radio"
          name="analysisYear"
          checked="true"
        /><label for="analysisYear2022">2022</label>
      </div>
    </div>
    <div id="analysisFilterContainer" class="filterDropdown">
      <div id="analysisFilter1" class="selectFilter">
        Country&nbsp;<i class="fa-solid fa-angle-down"></i>
      </div>
      <div id="analysisFilter2" class="selectFilter">
        Categories&nbsp;<i class="fa-solid fa-angle-down"></i>
      </div>
    </div> -->
  </div>
  <div id="analysisClearFilter" class="clearFilters">
    <button type="button">Clear Filters</button>
  </div>
</div>

<div id="analysis" class="dashboardBody">
  <div class="dashboardBodyLeft">
    <div id="analysisChart1" class="dashboardChart">
      <div id="analysisChartTop1" class="chartTop">
        <div id="analysisChartTopLeft1" class="chartTopLeft">
          <div id="analysisChartTitle1" class="chartTitle">Sales By Region</div>
          <div id="analysisChartValue1" class="chartValue">-</div>
          <!-- <div id="analysisChartValue1" class="chartValue">$180M</div> -->
          <div id="analysisChartInfo1" class="chartInfo">
            <div id="analysisChartInfoValue1" class="infoValue positive">
              45%<i class="fa-solid fa-arrow-up"></i>
            </div>
            <div id="analysisChartInfoText1" class="infoText">
              From Prev. Period
            </div>
          </div>
        </div>
        <div id="analysisChartTopRight1" class="chartTopRight">
          <div id="analysisChartTopRightIcon1">
            <span
              class="triColon"
              ng-click="toggleExport($event,'analysisChart1')"
              >&#8285;</span
            >
          </div>
        </div>
      </div>
      <div id="analysisChartBottom1" class="chartBottom">
        <!-- <img src="./images/Chart4.svg" alt="Chart4"> -->
      </div>
    </div>
    <div id="analysisChart2" class="dashboardChart">
      <div id="analysisChartTop2" class="chartTop">
        <div id="analysisChartTopLeft2" class="chartTopLeft">
          <div id="analysisChartTitle2" class="chartTitle">Sales By Region</div>
          <div id="analysisChartValue2" class="chartValue">-</div>
          <!-- <div id="analysisChartValue2" class="chartValue">$180M</div> -->
          <div id="analysisChartInfo2" class="chartInfo">
            <div id="analysisChartInfoValue2" class="infoValue positive">
              45%<i class="fa-solid fa-arrow-up"></i>
            </div>
            <div id="analysisChartInfoText2" class="infoText">
              From Prev. Period
            </div>
          </div>
        </div>
        <div id="analysisChartTopRight2" class="chartTopRight">
          <div id="analysisChartTopRightIcon2">
            <span
              class="triColon"
              ng-click="toggleExport($event,'analysisChart2')"
              >&#8285;</span
            >
          </div>
        </div>
      </div>
      <div id="analysisChartBottom2" class="chartBottom">
        <!-- <img src="./images/Chart4.svg" alt="Chart4" /> -->
      </div>
    </div>
  </div>
  <div class="dashboardBodyRight">
    <div id="analysisMediumKPI2" class="medium-kpi">
      <div id="analysisMediumKpiTop2" class="mediumKpiTop">
        <div id="analysisMediumKpiTopLeft2" class="mediumKpiTopLeft">
          <div id="analysisMediumKpiTitle2" class="chartTitle">
            Sales Contribution
          </div>
        </div>
        <div id="analysisMediumKpiTopRight2" class="mediumKpiTopRight">
          <div id="analysisMediumKpiIcon2">
            <span
              class="triColon"
              ng-click="toggleExport($event,'analysisMediumKPI2')"
              >&#8285;</span
            >
          </div>
        </div>
      </div>
      <div id="analysisMediumKpiTab2" class="mediumKpiTabs two">
        <div
          id="analysisMediumKpiTab2Items1"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab2 == 'Country')}"
          ng-click="setMediumKPIActiveTab2('Country')"
        >
          Country
        </div>
        <div
          id="analysisMediumKpiTab2Items2"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab2 == 'Category')}"
          ng-click="setMediumKPIActiveTab2('Category')"
        >
          Category
        </div>
        <div
          id="analysisMediumKpiTab2Items3"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab2 == 'Salesperson')}"
          ng-click="setMediumKPIActiveTab2('Salesperson')"
        >
          Salesperson
        </div>
      </div>
      <div id="analysisMediumKpiContent2" class="mediumKpiContent active">
        <div id="analysisMediumKpiChart" class="pieChart">
          <!-- <img src="./images/sidelineimg2.svg" alt="pieChart" /> -->
        </div>
        <div id="analysisMediumKpiChartInfo" class="salesContribution">
          <div
            id="analysisMediumKpiChartInfoItem1"
            class="salesContributionItem"
          >
            <div
              id="analysisMediumKpiChartInfoItemTitle1"
              class="salesContributionItemTop"
            >
              <i class="fa-solid fa-circle" style="color: #0076fe"></i>USA
            </div>
            <div class="salesContributionItemBottom">
              <div
                id="analysisMediumKpiContentInfoItemProgress1"
                class="progress"
              >
                <div
                  id="analysisMediumKpiContentInfoItemValueWidth1"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentInfoItemValue1"
                    class="infoValue positive"
                  >
                    20%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>

                <div class="infoText">From Prev. Period</div>
              </div>
            </div>
          </div>
          <div
            id="analysisMediumKpiChartInfoItem2"
            class="salesContributionItem"
          >
            <div
              id="analysisMediumKpiChartInfoItemTitle2"
              class="salesContributionItemTop"
            >
              <i class="fa-solid fa-circle" style="color: #3391fe"></i>UK
            </div>
            <div class="salesContributionItemBottom">
              <div
                id="analysisMediumKpiContentInfoItemProgress2"
                class="progress"
              >
                <div
                  id="analysisMediumKpiContentInfoItemValueWidth2"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentInfoItemValue2"
                    class="infoValue positive"
                  >
                    36%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>

                <div class="infoText">From Prev. Period</div>
              </div>
            </div>
          </div>
          <div
            id="analysisMediumKpiChartInfoItem3"
            class="salesContributionItem"
          >
            <div
              id="analysisMediumKpiChartInfoItemTitle3"
              class="salesContributionItemTop"
            >
              <i class="fa-solid fa-circle" style="color: #66adfe"></i>Germany
            </div>
            <div class="salesContributionItemBottom">
              <div
                id="analysisMediumKpiContentInfoItemProgress3"
                class="progress"
              >
                <div
                  id="analysisMediumKpiContentInfoItemValueWidth3"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentInfoItemValue3"
                    class="infoValue positive"
                  >
                    12%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>

                <div class="infoText">From Prev. Period</div>
              </div>
            </div>
          </div>
          <div
            id="analysisMediumKpiChartInfoItem4"
            class="salesContributionItem"
          >
            <div
              id="analysisMediumKpiChartInfoItemTitle4"
              class="salesContributionItemTop"
            >
              <i class="fa-solid fa-circle" style="color: #b2d6ff"></i>Portugal
            </div>
            <div class="salesContributionItemBottom">
              <div
                id="analysisMediumKpiContentInfoItemProgress4"
                class="progress"
              >
                <div
                  id="analysisMediumKpiContentInfoItemValueWidth4"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentInfoItemValue4"
                    class="infoValue positive"
                  >
                    10%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>

                <div class="infoText">From Prev. Period</div>
              </div>
            </div>
          </div>
          <div
            id="analysisMediumKpiChartInfoItem5"
            class="salesContributionItem"
          >
            <div
              id="analysisMediumKpiChartInfoItemTitle5"
              class="salesContributionItemTop"
            >
              <i class="fa-solid fa-circle" style="color: #fca8a8"></i>Greece
            </div>
            <div class="salesContributionItemBottom">
              <div
                id="analysisMediumKpiContentInfoItemProgress5"
                class="progress"
              >
                <div
                  id="analysisMediumKpiContentInfoItemValueWidth5"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentInfoItemValue5"
                    class="infoValue negative"
                  >
                    8%<i class="fa-solid fa-arrow-down"></i>
                  </div>
                </div>

                <div class="infoText">From Prev. Period</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="analysisMediumKPI3" class="medium-kpi">
      <div id="analysisMediumKpiTop3" class="mediumKpiTop">
        <div id="analysisMediumKpiTopLeft3" class="mediumKpiTopLeft">
          <div id="analysisMediumKpiTitle3" class="chartTitle">
            Sales Contribution
          </div>
        </div>
        <div id="analysisMediumKpiTopRight3" class="mediumKpiTopRight">
          <div id="analysisMediumKpiIcon3">
            <span
              class="triColon"
              ng-click="toggleExport($event,'analysisMediumKPI3')"
              >&#8285;</span
            >
          </div>
        </div>
      </div>
      <div id="analysisMediumKpiTab3" class="mediumKpiTabs two">
        <div
          id="analysisMediumKpiTab3Items1"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab3 == 'Country')}"
          ng-click="setMediumKPIActiveTab3('Country')"
        >
          Country
        </div>
        <div
          id="analysisMediumKpiTab3Items2"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab3 == 'Category')}"
          ng-click="setMediumKPIActiveTab3('Category')"
        >
          Category
        </div>
        <div
          id="analysisMediumKpiTab3Items3"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab3 == 'Salesperson')}"
          ng-click="setMediumKPIActiveTab3('Salesperson')"
        >
          Salesperson
        </div>
      </div>
      <div id="analysisMediumKpiContent3" class="mediumKpiContent active"></div>
    </div>
    <div id="analysisMediumKPI1" class="medium-kpi">
      <div id="analysisMediumKpiTop1" class="mediumKpiTop">
        <div id="analysisMediumKpiTopLeft1" class="mediumKpiTopLeft">
          <div id="analysisMediumKpiTitle1" class="chartTitle">
            Top Performing
          </div>
        </div>
        <div id="analysisMediumKpiTopRight1" class="mediumKpiTopRight">
          <div id="analysisMediumKpiIcon1">
            <span
              class="triColon"
              ng-click="toggleExport($event,'analysisMediumKPI1')"
              >&#8285;</span
            >
          </div>
        </div>
      </div>
      <div id="analysisMediumKpiTab1" class="mediumKpiTabs one">
        <div
          id="analysisMediumKpiTab1Items1"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab1 == 'Salesperson')}"
          ng-click="setMediumKPIActiveTab1('Salesperson')"
        >
          Salesperson
        </div>
        <div
          id="analysisMediumKpiTab1Items2"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab1 == 'Category')}"
          ng-click="setMediumKPIActiveTab1('Category')"
        >
          Category
        </div>
        <div
          id="analysisMediumKpiTab1Items3"
          class="tabItems"
          ng-class="{active: (activeMediumKPITab1 == 'City')}"
          ng-click="setMediumKPIActiveTab1('City')"
        >
          City
        </div>
      </div>
      <div
        id="analysisMediumKpiContent1"
        class="mediumKpiContent presentedData active"
      >
        <div class="MediumKpiContent1ChildContainer">
          <div id="analysisMediumKpiContent1Item1" class="presentedDataItem">
            <div id="analysisMediumKpiContentUserInfo1" class="userpic">
              <img src="./images/userpic1.svg" alt="userpic1" />
              <div
                id="analysisMediumKpiContentUserInfoText1"
                class="name_Position"
              >
                <div id="analysisMediumKpiContentUserName1" class="name">
                  John Alex
                </div>
                <div
                  id="analysisMediumKpiContentUserPosition1"
                  class="position"
                >
                  Sales Manager - West
                </div>
              </div>
            </div>
            <div
              id="analysisMediumKpiContentUserProgressTracker1"
              class="progressTracker"
            >
              <div id="analysisMediumKpiContentUserProgress1" class="progress">
                <div
                  id="analysisMediumKpiContentUserProgressInfoValueWidth1"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentUserProgressInfoValue1"
                    class="infoValue positive"
                  >
                    70%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>
                <div
                  id="analysisMediumKpiContentUserProgressInfoText1"
                  class="infoText"
                >
                  From Prev. Period
                </div>
              </div>
              <!-- <div
                id="analysisMediumKpiContentUserProgressBarContainer1"
                class="progressBar positive"
              >
                <div
                  id="analysisMediumKpiContentUserProgressBarAchieved1"
                  class="achieved positive"
                  style="width: 70%"
                ></div>
              </div> -->
            </div>
          </div>
          <div id="analysisMediumKpiContent1Item2" class="presentedDataItem">
            <div id="analysisMediumKpiContentUserInfo2" class="userpic">
              <img src="./images/userpic2.svg" alt="userpic2" />
              <div
                id="analysisMediumKpiContentUserInfoText2"
                class="name_Position"
              >
                <div id="analysisMediumKpiContentUserName2" class="name">
                  Cecilia
                </div>
                <div
                  id="analysisMediumKpiContentUserPosition2"
                  class="position"
                >
                  Account Director
                </div>
              </div>
            </div>
            <div
              id="analysisMediumKpiContentUserProgressTracker2"
              class="progressTracker"
            >
              <div id="analysisMediumKpiContentUserProgress2" class="progress">
                <div
                  id="analysisMediumKpiContentUserProgressInfoValueWidth2"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentUserProgressInfoValue2"
                    class="infoValue positive"
                  >
                    90%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>

                <div
                  id="analysisMediumKpiContentUserProgressInfoText2"
                  class="infoText"
                >
                  From Prev. Period
                </div>
              </div>
              <!-- <div
                id="analysisMediumKpiContentUserProgressBarContainer2"
                class="progressBar positive"
              >
                <div
                  id="analysisMediumKpiContentUserProgressBarAchieved2"
                  class="achieved positive"
                  style="width: 90%"
                ></div>
              </div> -->
            </div>
          </div>
          <div id="analysisMediumKpiContent1Item3" class="presentedDataItem">
            <div id="analysisMediumKpiContentUserInfo3" class="userpic">
              <img src="./images/userpic3.svg" alt="userpic3" />
              <div
                id="analysisMediumKpiContentUserInfoText3"
                class="name_Position"
              >
                <div id="analysisMediumKpiContentUserName3" class="name">
                  Brendan Emmett
                </div>
                <div
                  id="analysisMediumKpiContentUserPosition3"
                  class="position"
                >
                  Regional Sales Head
                </div>
              </div>
            </div>
            <div
              id="analysisMediumKpiContentUserProgressTracker3"
              class="progressTracker"
            >
              <div id="analysisMediumKpiContentUserProgress3" class="progress">
                <div
                  id="analysisMediumKpiContentUserProgressInfoValueWidth3"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentUserProgressInfoValue3"
                    class="infoValue negative"
                  >
                    15%<i class="fa-solid fa-arrow-down"></i>
                  </div>
                </div>

                <div
                  id="analysisMediumKpiContentUserProgressInfoText3"
                  class="infoText"
                >
                  From Prev. Period
                </div>
              </div>
              <!-- <div
                id="analysisMediumKpiContentUserProgressBarContainer3"
                class="progressBar negative"
              >
                <div
                  id="analysisMediumKpiContentUserProgressBarAchieved3"
                  class="achieved negative"
                  style="width: 15%"
                ></div>
              </div> -->
            </div>
          </div>
          <div id="analysisMediumKpiContent1Item4" class="presentedDataItem">
            <div id="analysisMediumKpiContentUserInfo4" class="userpic">
              <img src="./images/userpic4.svg" alt="userpic4" />
              <div
                id="analysisMediumKpiContentUserInfoText4"
                class="name_Position"
              >
                <div id="analysisMediumKpiContentUserName4" class="name">
                  Mac Alex
                </div>
                <div
                  id="analysisMediumKpiContentUserPosition3"
                  class="position"
                >
                  Sales Representative
                </div>
              </div>
            </div>
            <div
              id="analysisMediumKpiContentUserProgressTracker4"
              class="progressTracker"
            >
              <div id="analysisMediumKpiContentUserProgress4" class="progress">
                <div
                  id="analysisMediumKpiContentUserProgressInfoValueWidth4"
                  class="fixedWidthforValue"
                >
                  <div
                    id="analysisMediumKpiContentUserProgressInfoValue4"
                    class="infoValue positive"
                  >
                    50%<i class="fa-solid fa-arrow-up"></i>
                  </div>
                </div>

                <div
                  id="analysisMediumKpiContentUserProgressInfoText4"
                  class="infoText"
                >
                  From Prev. Period
                </div>
              </div>
              <!-- <div
                id="analysisMediumKpiContentUserProgressBarContainer4"
                class="progressBar positive"
              >
                <div
                  id="analysisMediumKpiContentUserProgressBarAchieved4"
                  class="achieved positive"
                  style="width: 50%"
                ></div>
              </div> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
